@page
@model BlogPostsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Blog Posts</h1>
<br>
<br>
<a class="btn btn-primary" href="./CreateBlogPost">Create New Post</a>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>CreatedAt</th>
            <th>EditedAt</th>
            <th>RemovedAt</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blogPost in Model.BlogPosts)
        {
            <tr>
                <td>@blogPost.author</td>
                <td>@blogPost.title</td>
                <td>@blogPost.createdAt</td>
                <td>@blogPost.editedAt</td>
                <td>@blogPost.removedAt</td>
                <td>
                    <a href="./EditBlogPost?id=@blogPost.id">Edit</a> |
                    <a href="./DeleteBlogPost?id=@blogPost.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
