@page
@model EditBlogPostModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Edit Blog Post</h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.BlogPost.id" />

    <label for="author">Author:</label>
    <input id="author" name="Author" type="text" value="@Model.BlogPost.author" />

    <label for="title">Title:</label>
    <input id="title" name="Title" type="text" value="@Model.BlogPost.title" />

    <label for="text">Text:</label>
    <textarea id="text" name="Text">@Model.BlogPost.text</textarea>

    <label for="image">Image:</label>
    <input id="image" name="Image" type="file" />

    <label for="imageLink">Image Link:</label>
    <input id="imageLink" name="ImageLink" type="text" value="@Model.BlogPost.imageLink" />

    <button type="submit">Update</button>
</form>
